<!-- this is the code which is common for all the pages -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yaatriStay</title>
 </head>
 <body>
    <h2>yaatriStay</h2>
    <h3><i>Har Yaatri ka Apna Stay</i></h3>
    <div class="container">
        <%- body %>
    </div>
 </body>
 </html>